<div class="modal-body">
    <div class="card-header">
        <strong>{{title}}</strong> 
    </div>
    <div class="card-body">
        <form 
            class="areaFormulario"
            [formGroup]="formArea"
            class="was-validated"
            novalidate>
            <div class="form-group row">
                <label
                    class="col-md-4 col-form-label" 
                    for="areaf">
                    Área
                </label>
                <div class="col-md-7">
                    <input 
                        type="text"
                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                        placeholder="Ingrese el nombre del área"
                        class="form-control is-valid"
                        formControlName='nombreArea'
                        id="areaf"
                        required>
                    <div class="valid-feedback"
                        *ngIf="!nombreAreaField.hasError('required')">
                        Valor válido
                    </div>
                </div>
                <div class="invalid-feedback">
                    Por favor ingrese un valor válido para el nombre del área
                </div>
            </div>
            <div class="form-group row">
                <label
                    class="col-md-4 col-form-label"
                    for="codigof">
                    Código
                </label>
                <div class="col-md-7">
                    <input 
                        type="text"
                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                        placeholder="Ingrese el código del área"
                        class="form-control is-valid"
                        formControlName='codigo'
                        id="codigof"
                        required>
                    <div 
                        class="valid-feedback"
                        *ngIf="!codigoField.hasError('required')">
                        Valor válido
                    </div>
                </div>
                <div class="invalid-feedback">
                    Por favor ingrese un código valido
                </div>
            </div>
        </form>
        <div class="card-footer">
            <button
                type="submit"
                class="btn btn-sm btn-primary"
                (click)="guardarArea()"
                [disabled]="formArea.invalid">
                <i class="fa fa-dot-circle-o"></i>
                Aceptar
            </button>
            <button 
                type="reset"
                class="btn btn-sm btn-danger"
                (click)="closeModal()">
                <i class="fas fa-ban"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>
