<app-infraestructura-list
  [infraestructuras]="infreaestructuras"
  [sedes]="sedes"
  [areas]="areas"
  [ciudades]="ciudades"
  (update)="actualizarInfraestructura($event)"
  (delete)="eliminarInfraestructura($event)"
  (create)="crearInfraestructura()"
  (ciudadId)="getSedesByCiudad($event)"
  (filtro)="filtrarInfraestructuras($event)"
  (info)="verInfoInfraestructura($event)"
  (busqueda)="buscarInfraestructura($event)">
</app-infraestructura-list>

<app-custom-modal
  title="Informació de la infraestructura"
  [(show)]="showInfoInfr">
  <app-infraestructura-info
    *ngIf="showInfoInfr"
    [infraestructura]="infraestructura"
    (cerrar)="reset()">
  </app-infraestructura-info>
</app-custom-modal>
