<div class="div-principal col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <form action="" method="get">
                <datalist>

                </datalist>
            </form>
        </div>
        <div class="card-body">
            <div class="div table-container">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr class="table-info">
                            <th>ID</th>
                            <th>Nombre de sede</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Descripción</th>
                            <th>Ciudad</th>
                            <th>Departamento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Cc y S</td>
                            <td>Calle 4 2 # 15</td>
                            <td>3147529580</td>
                            <td>
                                <a style="cursor:pointer">Ver Mas</a>
                            </td>
                            <td>
                                Popayán
                            </td>
                            <td>
                                Cauca
                            </td>
                            <td>
                                <span class="badge badge-primary" style="cursor: pointer;">
                                    Actualizar
                                </span>
                                <span class="badge badge-danger" style="cursor: pointer;">
                                    Eliminar
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tr>
                        <button type="button" class="btn btn-success mr-10 btn-sm">Agregar</button>
                    </tr>  
                </table>
            </div>
        </div>
    </div>
</div>
