
    <div class="card-body">
      <div class="div table-container ">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr class="table-info">
              <th>ID</th>
              <th>Descripcion</th>
              <th>Fecha</th>
              <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let tarea of tareas">
              <!-- <div *ngIf="rol.estado.id !=3"> -->
              <td>{{tarea.id}}</td>
              <td>{{tarea.descripcion}}</td>
              <td>{{tarea.fecha}}</td>
              <td>
                <span class="badge badge-primary" style="cursor: pointer;"
                  (click)="actualizar(tarea)">Actualizar</span>
                <span
                  class="badge badge-danger"

                  style="cursor: pointer;"
                  [swal]="{title:'Desea eliminar',  showCancelButton: true }"
                  (confirm)="eliminar(tarea.id)">
                  Eliminar
                </span>
              </td>
            </tr>
          </tbody>
          <button type="button" class="btn btn-success mr-10 btn-sm" (click)="agregar()">Agregar</button>
        </table>
        <div>
          <ul>
            <span>
            
            </span>
          </ul>
        </div>
      </div>
    </div>
  
